.main-header{
    &__imagen{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 70%;
        object-fit: cover;
        object-fit: center;
        display: flex;
    }
   
    &__block{
        position: relative;
        top: 1rem;
        z-index: var(--z-tooltip);
    }
    
}
.main-logo{
    width: 3rem;
    @include from(l){
        width: 5rem;
    }
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{    
    --margin-top: 7vmin;
    --margin-bottom: 0.5rem;
    --line-height: 1rem;

    @include from(xs){
        --line-height: 1.2rem;
    }
    @include from(s){
        --margin-top: 15vmin;
        --margin-bottom: 1rem;
        --line-height: 1.7rem;
    }
    @include from(l){
        --margin-top: 20vmin;
        --margin-bottom: 1.5rem;
    }

    margin-top: var(--margin-top);
    position: relative;
    width: 80%;

    &__title{
        margin-bottom: var(--margin-bottom);
    }
    
    &__description{
        font-size: var(--description-font-size);
        line-height: var(--line-height);
        margin-bottom: 0;
        @include from(s){
            margin-bottom: 1rem;
        }
    }
 
    &__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding-bottom: 20%;
        @include from(xs){
            padding-bottom: 35%;
        }
      
        @include from(s){
            padding-bottom: 27%;
        }
        @include from(l){
            padding-bottom: 23%;
        }
    }

}