.l-container{
    max-width: $max-witdh;
    padding-left  : 1rem;
    padding-right : 1rem;
    display       : flex;
    margin-left   : auto;
    margin-right  : auto;
    height        : 100%;
    flex-wrap:  wrap;
}
.center__content{
    text-align: center;
}
.center__item{
    margin: 0 auto;
}