@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --black-700: #151515;
  --black-500: #232323;
  --black-300: #4F4F4F;
  --yellow-600: #DCB06B;
  --yellow-500: #F4C377;
  --yellow-400: #F6CF92;
  --yellow-300: #F8DBAD;
  --white-100: #FEFEFE;
  --white-500: #E5E5E5; }

:root {
  --z-back: -10
    --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --h1-font-size: 1.5rem;
  --h2-font-size:1.25rem;
  --h3-font-size: 1.10rem;
  --item-font-size: 0.750rem;
  --description-font-size: 0.650;
  --body-font-size: 0.650rem;
  --small-font-size: .4rem; }
  @media screen and (min-width: 472px) {
    :root {
      --h1-font-size: 2rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --item-font-size: 1.10rem;
      --description-font-size: 1rem;
      --body-font-size: 0.875rem;
      --small-font-size: .650rem; } }
  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 2.5rem;
      --h2-font-size: 2rem;
      --h3-font-size: 1.75rem;
      --item-font-size: 1.25rem;
      --description-font-size: 1.15rem;
      --body-font-size: 1rem;
      --small-font-size: .750rem; } }
  @media screen and (min-width: 1024px) {
    :root {
      --h1-font-size: 3rem;
      --h2-font-size: 2.5rem;
      --h3-font-size: 1.75rem;
      --item-font-size: 1.5rem;
      --description-font-size: 1.6rem;
      --body-font-size: 1.25rem;
      --small-font-size: .875rem; } }

.l-container {
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  flex-wrap: wrap; }

.center__content {
  text-align: center; }

.center__item {
  margin: 0 auto; }

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  font-family: "Roboto Serif", serif;
  font-size: var(--body-font-size);
  background-color: var(--black-500);
  color: var(--white-100); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1 {
  font-size: var(--h1-font-size);
  font-family: "Lora", serif;
  font-weight: 500; }

h2 {
  font-size: var(--h2-font-size);
  font-family: "Lora", serif; }

h1, h2, h3, h4, h5 {
  font-family: "Lora", serif;
  margin-top: 0;
  margin-bottom: 0; }

.button {
  --padding: .4em 0.5em;
  padding: var(--padding);
  border-radius: 0.5rem;
  font-weight: 600;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 472px) {
    .button {
      --padding: .55em 1.5em; } }
  @media screen and (min-width: 472px) {
    .button {
      --padding: .75em 1.5em; } }
  .button__default_icon {
    background-color: var(--yellow-400);
    color: var(--black-700);
    transition: ease all 0.3s; }
  .button__ghost_icon {
    background: transparent;
    color: var(--white-100);
    border: 2px var(--yellow-600) solid;
    transition: ease all 0.3s; }

.button__default_icon:hover {
  background-color: var(--yellow-600);
  cursor: pointer; }

.button__ghost_icon:hover {
  background-color: var(--yellow-300);
  color: var(--black-300);
  border-color: var(--black-300);
  border-width: 2px;
  cursor: pointer;
  transition: ease all 0.3s; }

.button__ghost_icon:hover .icon__ghost {
  filter: invert(42%) sepia(0%) saturate(4924%) hue-rotate(78deg) brightness(76%) contrast(103%); }

.icon {
  margin: 0;
  padding: 0;
  width: var(--h3-font-size);
  text-align: center;
  padding-right: 0.2em; }
  .icon__ghost {
    filter: invert(100%) sepia(0%) saturate(1887%) hue-rotate(295deg) brightness(105%) contrast(99%);
    transition: filter 0.3s ease; }

.main-header__imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 70%;
  object-fit: cover;
  object-fit: center;
  display: flex; }

.main-header__block {
  position: relative;
  top: 1rem;
  z-index: var(--z-tooltip); }

.main-logo {
  width: 3rem; }
  @media screen and (min-width: 1024px) {
    .main-logo {
      width: 5rem; } }

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-content {
  position: relative;
  width: 70%;
  --margin-top: 7vmin;
  margin-top: var(--margin-top); }
  @media screen and (min-width: 768px) {
    .header-content {
      --margin-top: 15vmin; } }
  @media screen and (min-width: 1024px) {
    .header-content {
      --margin-top: 20vmin; } }
  .header-content__title {
    --margin-bottom: 0.5rem;
    margin-bottom: var(--margin-bottom); }
    @media screen and (min-width: 768px) {
      .header-content__title {
        --margin-bottom: 1rem; } }
    @media screen and (min-width: 1024px) {
      .header-content__title {
        --margin-bottom: 1.5rem; } }
  .header-content__description {
    font-size: var(--description-font-size);
    line-height: 1rem;
    margin-bottom: 0; }
    @media screen and (min-width: 472px) {
      .header-content__description {
        line-height: 1.2rem; } }
    @media screen and (min-width: 768px) {
      .header-content__description {
        line-height: 1.7rem;
        margin-bottom: 1rem; } }
  .header-content__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-bottom: 20%; }
    @media screen and (min-width: 472px) {
      .header-content__buttons {
        padding-bottom: 35%; } }
    @media screen and (min-width: 768px) {
      .header-content__buttons {
        padding-bottom: 27%; } }
    @media screen and (min-width: 1024px) {
      .header-content__buttons {
        padding-bottom: 25%; } }

.main-header__cover-container {
  height: 80;
  max-height: 80 .main-header__cover-container; }

.main-menu {
  font-size: var(--item-font-size);
  color: var(--white-100);
  background: var(--black-700);
  position: fixed;
  left: 100vw;
  height: 100vh;
  width: 90vw;
  transition: left .3s ease;
  top: 4rem;
  z-index: var(--z-fixed);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .main-menu {
      position: static;
      background: transparent;
      flex-direction: row;
      padding-top: 0;
      height: auto;
      width: auto;
      z-index: var(--z-modal); } }
  .main-menu__link {
    cursor: pointer; }
  .main-menu__item {
    font-size: var(--h1-font-size);
    margin-top: 3rem; }
    @media screen and (min-width: 768px) {
      .main-menu__item {
        font-size: var(--item-font-size);
        margin-left: 2rem;
        margin-top: 0; } }
  .main-menu__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--yellow-500);
    transition: width 0.3s ease, left 0.3s ease; }
  .main-menu__link:hover::after {
    width: 100%; }
  .main-menu__link:hover {
    color: var(--yellow-500); }
  .main-menu__link:active {
    color: var(--yellow-600); }
  .main-menu__toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 1.5rem;
    background: linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%);
    cursor: pointer;
    z-index: var(--z-tooltip);
    display: block; }
    @media screen and (min-width: 768px) {
      .main-menu__toggle {
        display: none; } }

.show {
  left: 10vw; }

.main-portada {
  display: flex;
  flex-direction: row; }
  .main-portada__fotos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 20px;
    gap: 1rem; }
    @media screen and (min-width: 472px) {
      .main-portada__fotos {
        width: 100%;
        grid-auto-rows: 30px; } }
    @media screen and (min-width: 768px) {
      .main-portada__fotos {
        width: 50%;
        grid-auto-rows: 50px; } }
  .main-portada__foto1 {
    grid-column: 1/span 1;
    grid-row: 2/span 5; }
  .main-portada__foto2 {
    grid-column: 2/ span 1;
    grid-row: 1/span 5; }
  .main-portada__foto3 {
    grid-column: 1/ span 1;
    grid-row: 7/span 5; }
  .main-portada__foto4 {
    grid-column: 2/ span 1;
    grid-row: 6/span 5; }
  .main-portada__content {
    width: 100%;
    text-align: left;
    padding: 1.5em; }
    @media screen and (min-width: 768px) {
      .main-portada__content {
        width: 50%; } }
  .main-portada__titulo {
    color: var(--yellow-400);
    padding-bottom: 1.5em; }
  .main-portada__description {
    line-height: 2.5em;
    padding-bottom: 1.5em; }

.fotos {
  object-fit: cover;
  object-fit: center;
  width: 100%;
  height: 100%; }
